
@{
    ViewData["Title"] = "เกี่ยวกับเรา";
}

<h1 class="text-center"> เกี่ยวกับเรา </h1>
<br>
<h5 class="text-bg-info text-center"> จัดทำขึ้นสำหรับการศึกษาและการพัฒนาการสร้างเว็บแอปพลิเคชั่น ASP.NET MVC เท่านั้น </h5>

